*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "logo";
    src: url(./img/LLPIXEL3.ttf);
}

@font-face {
    font-family: "titulo";
    src: url(./img/ExpletusSans-VariableFont_wght.ttf);
}

/* Nav */
nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px auto 0px auto;
    max-width: 1452px;
}

.logo {
    font-family: "logo";
    padding: 10px;
    color: #9c46fb;
    font-size: 20px;
}

/*Button Hamburguer*/
.checkbtn {
    font-size: 35px;
    color: rgb(40 37 32);
    padding: 10px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    font-family: "logo";
    display: inline-block;
    color: #282a35;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 12px 12px;
    text-decoration: none;
}

li:first-child a {
    color: #9c46fb;
}

li a:hover {
    color: #9c46fb;
}

/* banner */
.container_banner {
    margin: 0px auto 0px auto;
    height: 610px;
    max-width: 1452px;
    background-color: #282520;
    background-image: url(./img/sets.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 51% 0);
    animation: show 2s cubic-bezier(.84,.07,.96,.1) forwards;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 550px;
    height: 485px;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translate(80%);
    animation: show_title 7s forwards, move 2s 5s forwards;
}

.title h1 {
    font-size: 45px;
    color: #ffffff;
    font-family: "titulo";
}

.title .img {
    width: 150px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.title img {
    width: 100%;
    height: auto;
}

.title h2 {
    font-size: 30px;
    color: #9c46fb;
    transform: translate(20%);
    animation: move 3s 3s forwards;
    font-family: "titulo";
}

@keyframes show {
    to {
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
        clip-path: polygon(0 80%, 0 0, 100% 0, 100% 80%, 50% 100%);
    }
}

@keyframes show_title {
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes move {
    to{
        transform: translate(0);
    }
}

/* About me */
.container_aboutme {
    margin: 0px auto 30px auto;
    padding: 10px;
    width: 80%;
    max-width: 1080px;
}

.container_aboutme h2 {
    margin: 0px 0px 15px 0px;
    text-align: center;
    font-size: 45px;   
    color: #303030;
    font-family: "logo";
} 

.aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img_aboutme {
    width: 45%;
}

.img_aboutme img{
    width: 100%;
    height: auto;
}

.about_write {
    width: 45%;
    font-family: "titulo";
}

.aboutme h3 {
    color: #9c46fb;
    margin: 10px;
}

.aboutme p {
    margin: 10px;
    text-align: justify;
    color: #3f3d56;
}

.button_cv {
    margin-top: 12px;
    margin-left: 10px;
    padding: .8em 0;
    border-radius: .5em;
    width: 170px;
    background-color: #9c46fb;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    font-family: "titulo";
}

/* skill */
.skill_web {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0px 15px 0px;
    padding: 15px;
    background-color: #232434;
    background-image: url(./img/w3codes.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.skill_web h2 {
    position: relative;
    font-size: 50px;
    background-color: #222632;
    color: #ffffff;
    margin: 15px 0px 15px 0px;
    font-family: "logo";
}

.skill_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 14px;
    padding: 7px;
}

.skill div {
    width: 80px;
    height: 84px;
    margin: 20px;
    float: left;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(255 253 253 / 20%), 0 6px 20px 0 rgb(68 68 68);
    background-color: rgb(255 255 255);
}

.skill div i{
    margin: 12px 15px 2px 15px;
    font-size: 30px;
}

.skill div h5{
    color: #282a35;
    font-family: "titulo";
}

/* Work */
.work{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 40px;
}

.work h2{
    font-size: 45px;   
    color: #303030;
    font-family: "logo";
}

.work_gallery{
    display: flex;
    flex-wrap: wrap;
    margin: 35px 5px 35px 5px;
    max-width: 1000px;
}

.column_gallery{
    flex: 30%;
    margin: 0px 5px;
}

.work_img{
    overflow: hidden;
    position: relative;
}

.work_img img{
    width: 100%;
    height: auto;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
    border: 1px solid #a5a5a5;
    box-shadow: -1px -2px 2px 1px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.work_img:hover img {
    opacity: 0.5;
    transform: scale(1.1);
}

/* Image overlay */
.middle_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: .5s ease;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.work_img:hover .middle_icon {
    opacity: 1;
}
  
.card_icons li {
    display: block;
    margin: 5px;
    font-size: 30px;
    color: #303030;
}

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation */
.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Form */
.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto;
    width: 75%;
    max-width: 1080px;
    position: relative;
}

.form_img {
    padding: 15px;
    width: 45%;
}

.form_img img{
    width: 100%;
    height: auto;
}

form {
    margin: auto;
    padding: 10px;
    width: 45%;    
    max-width: 425px;
}

.form{
    margin: 15px 0px 15px 0px;
    padding: 2em 1.5em;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 60%);
}

.form_title{
    color: #303030;
    font-size: 24px;
    font-family: "titulo";
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.3em;
}

.form_group{
    position: relative;
    color: #303030;
}

.form_input{
    width: 97%;
    background: none;
    color: rgb(92 90 90);
    font-size: 14px;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(120 126 126);
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.9);
    transform-origin: left top;
    color: #9c46fb;
}

.form_label{
    position: absolute;
    left: 5px;
    top: -7px;
    cursor: pointer;
    transform: translateY(10px);
    transition: transform 0.5s, color .3s;
}

.form_send {
    width: 40%;
    color: #303030; 
    border: 2px solid #9c46fb;
    font-family:'titulo';
    font-size: 1rem;
    font-weight: 300;
    padding: .8em 0;
    border-radius: .5em;
    background: white;
}
  
.form_send:hover {
    background-color: #9c46fb;
    color: #ffffff;
}

.form_line {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 1px;
    background-color: #9c46fb;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line {
    transform: scale(1);
}

.button_home {
    position: absolute;
    bottom: 5px;
    right: -130px;
}

.button_home i {
    color: #9c46fb;
    font-size: 30px;
    padding: 5px;
}

.button_home i:hover {
    border: 2px solid #303030;
    border-radius: 5px;
    padding: 7px;
}

/* Footer */

footer {
    background-color: #2e2e2e;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin: 0px auto 0px auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1519px;
   
}

.footer_logo {
    font-family: "logo";
    padding: 20px;
    color: #9c46fb;
    font-size: 20px;
}

.contact_icons li a {
    display: block;
    margin: 5px;
    padding: 12px 12px;
    font-size: 30px;
    color: #ffffff;
}

.contact_icons li a:hover {
    background-color: #ffffff;
    color: #2e2e2e;
    margin: 5px;
    border-bottom: 7px solid #9c46fb;
}

@media (max-width: 769px) {

     /*Nav*/
     nav {
        position: -webkit-sticky;
        position: sticky;
        padding: 0px 10px 0px 10px;
        top: 0;
        background-color: #ffffff;
        z-index: 2;
    }

    .logo {
        padding: 15px
    }

    .checkbtn {
        display: block;
    }

    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 1;
      background: #282520;
      top: 60px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        float: none;
        line-height: 32px;
    }

    li a {
        color: #9c46fb;
    }

    li:hover {
        background: #3d3a33;
    }

    #check:checked ~ ul{
      left: 0;
    }

    .title {
        width: 94%;
        transform: translate(0%);
        animation: show_title 9s forwards;
    }

    .title .img {
        margin-top: 230px;
        width: 120px;
        height: 124px;
    }

     .title h1 {
        font-size: 32px;
    }
    
    .title h2 {
        font-size: 20px;
    }

    .container_aboutme {
        width: 90%;
    }

    .img_aboutme {
        width: 50%;
    }

    .about_write {
        width: 50%;
    }

    .button_cv {
        width: 120PX;
    }

    .skill div {
        margin: 7px;
    }
    
    .formulario {
        width: 95%;
    }

    .form_img{
        width: 80%;
        padding: 10px;
    }

    form {
        width: 60%;
    }

    .form_send {
        width: 45%;
        padding: 0.6em 0;
    }

    .contact_icons .arrow {
        display: none;
    }

}

@media (max-width: 613px) {

    .title h1 {
        font-size: 28px;
    }
    
    .title h2 {
        font-size: 18px;
    }

    .formulario {
        width: 90%;
    }

    .form_img{
        width: 100%;
        padding: 10px;
    }

    form {
        width: 85%;
    }

}

@media (max-width: 427px) {

    .title .img {
        margin-top: 175px;
        width: 100px;
        height: 107px;
    }

    .img_aboutme {
        width: 90%;
    }

    .about_write{
        width: 90%;
        padding: 10px;
    }

    .column_gallery{
        flex: 100%;
        padding: 7px;
    }

    .work_img {
        width: auto;
    }

    .contact {
        justify-content: space-around;
    }

    .footer_logo {
        display: none;
    }

}

@media (max-width: 376px) {
    /*Banner*/
    .container_banner {
        height: 460px;
    }
    
    .title {
        justify-content: none;
        height: 360px;
    }

    .title h1 {
        font-size: 20px;
    }

    .title h2{
        font-size: 15px;
    }

    /* About me */
    .container_aboutme {
        width: 100%;
    }

    .container_aboutme h2 {
        font-size: 30px;
    } 

    .aboutme {
        width: 100%;
    }

    .container_aboutme, .aboutme {
        margin: 0px;
        padding: 0px;
    }

    /*Skill*/
    .skill_web h2 {  
        font-size: 30px;
    }

    .skill_item {
        margin: 0px;
        padding: 0px;
    }

    .skill div {
        width: 80px;
        height: 83px;
    }

    .skill div i {
        font-size: 35px;
    }

    .skill div h5 {
        font-size: 12px;
    }

    /* Work */

    .work h2 {
        font-size: 30px;
    }

    /* Formulario */
    .formulario {
        width: 100%;
    }
    
    .form_img{
        width: 65%;
    }

    form {
        width: 95%;
        padding: 7px;
    }

    .form_container {
        margin-top: 1em;
    }
    
    .form_send {
        width: 35%;
        padding: 0.5em 0;
    }

}

@media (max-width: 321px) {

    .skill div {
        width: 66px;
        height: 70px;
    }

    .skill div i {
        font-size: 28px;
    }

    .skill div h5 {
        font-size: 10px;
    }

    .form_img {
        width: 75%;
    }
}