*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "logo";
    src: url(./img/LLPIXEL3.ttf);
}

@font-face {
    font-family: "titulo";
    src: url(./img/ExpletusSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "seccion";
    src: url(./img/DotGothic16-Regular.ttf);
}

/* Nav */
nav{
    display: flex;
    justify-content:space-between;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-family: "logo";
    padding: 10px;
    color: #9c46fb;
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: left;
}

li a {
    font-family: "logo";
    display: inline-block;
    color: #282a35;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding: 12px 12px;
    text-decoration: none;
}

li:first-child a {
    color: #9c46fb;
}

li a:hover {
    color: #9c46fb;
} 

/* banner */

.container_banner {
    height: 610px;
    background-color: #282520;
    clip-path: polygon(0 80%, 0 0, 100% 0, 100% 80%, 50% 100%);
}

.banner {
    background-image: url(./img/sets.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    animation: show 2s cubic-bezier(.84,.07,.96,.1) forwards;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 52%;
    height: 500px;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translate(80%);
    animation: show 10s forwards,  move 2s 5s forwards;
}

.banner .img {
    width: 150px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.title h1 {
    font-size: 45px;
    color: #ffffff;
    font-family: "titulo";
}

.banner img {
    width: 100%;
    height: auto;
}

.title h2 {
    font-size: 30px;
    color: #9c46fb;
    transform: translate(20%);
    animation: move 3s 3s forwards;
    font-family: "titulo";
}

@keyframes show {
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes move {
    to{
        transform: translate(0);
    }
}

/* About me */

.container_aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container_aboutme h2 {
    font-size: 45px;   
    color: #303030;
    /* font-family: "seccion"; */
    font-family: "logo";
} 

.aboutme {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img_aboutme img{
    width: 780px;
}

.about_write {
    width: 330px;
    margin-top: 60px;
    margin-left: -80px;
    margin-right: 80px;
    font-family: "titulo";
}

.aboutme h3 {
    color: #9c46fb;
    margin: 10px;
}

.aboutme p {
    margin: 10px;
    text-align: justify;
    color: #3f3d56;
}

.button_cv {
    width: 40%;
    margin-left: 10px;
    margin-top: 12px;
    color: #3f3d56; 
    border: 2px solid #9c46fb;
    font-size: 1.1rem;
    font-weight: 300;
    padding: .8em 0;
    border-radius: .5em;
}

.button_cv:hover {
    background-color: #9c46fb;
    color: #ffffff;
}

/* skill */

.skill_web {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #232434;
    background-image: url(./img/w3codes.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-attachment: fixed;
    background-size: cover;
    margin: 15px 0px 15px 0px;
    padding: 15px;
}

.skill_web h2 {
    position: relative;
    font-size: 50px;
    background-color: #222632;
    color: #ffffff;
    margin: 15px 0px 15px 0px;
    font-family: "logo";
}

.skill_item {
    display: flex;
    margin: 20px;
    padding: 5px;
}

.skill div {
    width: 80px;
    height: 84px;
    margin: 20px;
    float: left;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(255 253 253 / 20%), 0 6px 20px 0 rgb(68 68 68);
    background-color: rgb(255 255 255);
}

.skill div i{
    margin: 12px 15px 2px 15px;
    font-size: 30px;
}

.skill div h5{
    color: #282a35;
    font-family: "titulo";
}

/* Work */

.work{
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

.work h2{
    font-size: 45px;   
    color: #303030;
    font-family: "logo";
}

.work_gallery{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.column_gallery{
    flex: 30%;
    padding: 7px;
}

.work_img{
    position: relative;
}

.work_img img{
    width: 100%;
    box-shadow: -1px -2px 2px 1px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.work_img:hover img {
    opacity: 0.5;
}

/* Image overlay */

.middle_icon {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.work_img:hover .middle_icon {
    opacity: 1;
}
  
.card_icons li {
    display: block;
    margin: 5px;
    font-size: 30px;
    color: #303030;
}

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
  
  /* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation */

.modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}
  
  /* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Form */

.formu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 25px 0px 25px 0px;
    position: relative;
}

.download_cv{
    width: 45%;
}

.img_Programming {
    width: 100%;
    padding: 10px,
}

form{
    width: 55%;
}

.form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    /* background-color: rgb(231 231 231); */
    padding: 4.3em 3em;
    border-radius: 10px;
    text-align: center;
    /* box-shadow: 0px 4px 10px 0px rgb(0 0 0 / 60%); */
}

.form_title{
    color: #303030;
    font-size: 24px;
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.3em;
}

.form_group{
    position: relative;
    color: #303030;
}

.form_input{
     width: 100%;
     background: none;
     color: rgb(92 90 90);
     font-size: 20px;
     padding: .6em .3em;
     border: none;
     outline: none;
     border-bottom: 2px solid rgb(120 126 126);
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.9);
    transform-origin: left top;
    color: #9c46fb;
}

.form_label{
    position: absolute;
    left: 5px;
    top: 0px;
    cursor: pointer;
    transform: translateY(10px);
    transition: transform 0.5s, color .3s;
}

.form_send {
    width: 40%;
    color: #303030; 
    border: 2px solid #9c46fb;
    font-family:'titulo';
    font-size: 1rem;
    font-weight: 300;
    padding: .8em 0;
    border-radius: .5em;
}

  
.form_send:hover {
    background-color: #9c46fb;
    color: #ffffff;
}

.form_line {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    height: 1px;
    background-color: #9c46fb;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus ~ .form_line,
.form_input:not(:placeholder-shown) ~ .form_line {
    transform: scale(1);
}

.button_home {
    position: absolute;
    bottom: -10px;
    right: 25px;
}

.button_home i {
    color: #9c46fb;
    font-size: 30px;
    padding: 5px;
}

.button_home i:hover {
    border: 2px solid #303030;
    border-radius: 5px;
    padding: 7px;
}

/* Footer */

.contact {
    display: flex;
    justify-content: space-between;
    background-color: #2e2e2e;
    padding-left: 20px;
    padding-right: 20px;
}

.footer_logo{
    font-family: "logo";
    padding: 20px;
    color: #9c46fb;
    font-size: 20px;
}

.contact_icons li a {
    display: block;
    margin: 5px;
    padding: 12px 12px;
    font-size: 30px;
    color: #ffffff;
}

.contact_icons li a:hover {
    background-color: #ffffff;
    color: #2e2e2e;
    margin: 5px;
    border-bottom: 7px solid #9c46fb;
}
